@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

a{
  text-decoration: none;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
p {
  font-size: 1rem;
}
h1,
h2 {
  font-size: 2rem;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
section {
  padding: 40px 0px;
}

@media only screen and (max-width:768px) {
  section {
    padding: 40px 0px;
  }
}

::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track-piece{
  display: block;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}